<Files "config.ini">
    Require all denied
</Files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ".?" "-" [S=2]
    RewriteRule ^(.+?)/([0-9]+)/?$ index.php?action=$1&id=$2 [QSA,L]
    RewriteRule ^(.*)/?$ index.php?action=$1 [QSA,L]
